{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "jsxSingleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindConfig": "./tailwind.config.js"
}
